* {
  margin: 0;
  padding: 0;
  }

html{
    background-color: lightgoldenrodyellow;
}

div {

  }


.pokemon-logo{
  width: 200px;
  display: block;
  margin: auto;
  padding: 50px 50px;

}

.sprite{
  align-self: center;
}