* {
  margin: 0;
  padding: 0;
  }

html{
    background-color: lightgoldenrodyellow;
}

body{
    font-family: "Helvetica", Sans-serif;
  
  }

h1{
  font-size: 1.4em;
}

h2{
  font-size: 1.1em;
}

.pokemon-logo{
  width: 200px;
  display: block;
  margin: auto;
  padding: 18px 0;

}

.sprite{
  align-self: center;
}

.table { display: table; }
.row { display: table-row; }
.cell { display: table-cell; }